
<link href="@Url.Content("~/Content/StyleSheet1.css")" rel="stylesheet" type="text/css" />
<div class="containebutton">
    <div class="button">
        <button type="button" onclick="location.href = '@Url.Action("ShowOnlyBasketball", "Equipment") '">Basketball</button>
        <button type="button" onclick="location.href='@Url.Action("ShowOnlyFootball", "Equipment")'">Football</button>
        <button type="button" onclick="location.href='@Url.Action("ShowAllEquipmentInTabel", "Equipment")'">Tabel</button>
        <button type="button" onclick="location.href = '@Url.Action("SortByPrice", "Equipment") '">Sort</button>
    </div>
</div>

<div class="containerOfPages">

    @foreach (var item in @ViewBag.Equipment)
    {

        {

            <div class="card">
                <img class="img" src=" @item.Image" />
                <h5>  @item.Company</h5>
                <div class="contentBx">
                    <div class="size">
                      
                        <h6> @item.price</h6>
                        <h6> @item.Amount</h6>
                        <div class="color">
                            
                        </div>
                    </div>
                </div>
            </div>


        }

    }
</div>