@*<link href="https://fonts.googleapis.com/css2?family=Yuji+Boku&display=swap" rel="stylesheet">*@

<link href="@Url.Content("~/Content/StyleSheet1.css")" rel="stylesheet" type="text/css" />
<div class="containerOfPages">
    @foreach (var item in @ViewBag.Basketball)
    {
        if (@item.sportType == "Basketball")
        {

            <div class="card">
                <img class="img" src=" @item.Image" />
                <h5>  @item.Company</h5>
                <div class="contentBx">
                    <div class="size">
                        <h6> @item.SportType</h6>
                        <h6> @item.Price</h6>
                        
                        <div class="color">

                        </div>
                    </div>
                </div>
            </div>


        }
        else
        {

            <span></span>

        }
    }
</div>
