

<link href="@Url.Content("~/Content/StyleSheet1.css")" rel="stylesheet" type="text/css" />

<div class="containerOfPages">

    @foreach (var item in @ViewBag.Sort)
    {
        <div class="card">
            <img class="img" src=" @item.Image" />
            <h5>  @item.sportType</h5>
            <div class="contentBx">
                <div class="size">                  
                    <h6> @item.Company</h6>
                    <h6> @item.price</h6>                
                    <div class="color">
                    </div>
                </div>
            </div>
        </div>
    }
</div>